.container-div {
    padding: 3rem 6rem;

    .primary-color-btn {
        background-color: rgb(186, 83, 9) !important;
        color: white !important;
    }

    .video-input-div {
        display: flex;
        gap: 10px;
    }

    .selected-video-container {
        margin: 10px 0px;
        border: 3px solid rgba(211, 195, 181, 0.13);
        border-radius: 0.25rem;

        .selected-video {
            width: auto;
            height: auto;
        }
    }

    .video-controls {
        .pause-resume-btn {
            margin-top: 10px;
        }
    }

    .canvas-div {
        canvas {
            position: absolute;
            top: 95px;
            left: 100px;
        }
    }
}